// Mixins in here

.help(){
    border: 1px solid red;
}

.btnSignup(){
    .btn {
        background: @button-bg;
        border-radius: 10px;
        height: 40px;

        width: 75%;


        color: white;
        font-size: 2rem;

        line-height: 40px;
        text-align: center;

        @media @mobile {
            width: 100%;
        }
        
    }
}


.animBgChange(@textColor, @bgColor) {
    @keyframes switchColor { 
        from {background-color: @bgColor;
                color: @textColor;
        }
        to {background-color: @textColor;
            color: @bgColor;
        }
    }

    animation-name: switchColor;
    animation-duration: 4s;

}